<div class="container">
  <h2> Our Happy Students </h2>
  <p class="description">online training course to learn Angular framework for web development in 2024</p>

  <!-- Clients Review Section -->
  <div class="reviewSection">

    <!-- Clients Review-1 Section Starts from Here  -->
    <div class="reviewItem">
      <div class="top">
        <div class="clientImage">
          <img src="assets/images.png" alt="">
          <span>Raju Sheoran</span>
        </div>
        <ul>
          <li><i class="fa-solid fa-star"></i></li>
          <li><i class="fa-solid fa-star"></i></li>
          <li><i class="fa-solid fa-star"></i></li>
          <li><i class="fa-regular fa-star"></i></li>
          <li><i class="fa-regular fa-star"></i></li>
        </ul>
      </div>
      <article>
        <p class="review">Thanks to Team, my career soared with a placement at a good company! Their unparalleled guidance, industry expertise, and personalized approach made the training and job search seamless. I am grateful for the dedicated support, paving the way for a fulfilling professional journey.</p>
        <p>Jan 04, 2024</p>
      </article>
    </div>

    <!-- Clients Review-2 Section Starts from Here  -->
    <div class="reviewItem">
      <div class="top">
        <div class="clientImage">
          <img src="assets/images.png" alt="">
          <span>Shristi</span>
        </div>
        <ul>
          <li><i class="fa-solid fa-star"></i></li>
          <li><i class="fa-solid fa-star"></i></li>
          <li><i class="fa-solid fa-star"></i></li>
          <li><i class="fa-regular fa-star"></i></li>
          <li><i class="fa-regular fa-star"></i></li>
        </ul>
      </div>
      <article>
        <p class="review">The team helped me land my internship as a software developer with the help of its detailed assessments and training. The process was very smooth, on top of their amazing user experience. </p>
        <p>Jan 04, 2024</p>
      </article>
    </div>

    <!-- Clients Review-3 Section Starts from Here  -->
    <div class="reviewItem">
      <div class="top">
        <div class="clientImage">
          <img src="assets/images.png" alt="">
          <span>Harshit Goyal

          </span>
        </div>
        <ul>
          <li><i class="fa-solid fa-star"></i></li>
          <li><i class="fa-solid fa-star"></i></li>
          <li><i class="fa-solid fa-star"></i></li>
          <li><i class="fa-regular fa-star"></i></li>
          <li><i class="fa-regular fa-star"></i></li>
        </ul>
      </div>
      <article>
        <p class="review">The team helped me find the kind of training I was looking for to move forward in my career. Right from the very first day till the end  the team helped me throughout. With so many great resources to learn from, they have become very reliable.</p>
        <p>Jan 04, 2024</p>
      </article>
    </div>
  </div>
</div>
